<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ConversionModel" connectionString="data source=mdgriffin.database.windows.net;initial catalog=software_tools;user id=mdgriffin;password=flint-field1987;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CurrencyModel" connectionString="data source=mdgriffin.database.windows.net;initial catalog=software_tools;user id=mdgriffin;password=flint-field1987;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="software_toolsEntities" connectionString="metadata=res://*/CurrencyConverter.csdl|res://*/CurrencyConverter.ssdl|res://*/CurrencyConverter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mdgriffin.database.windows.net;initial catalog=software_tools;persist security info=True;user id=mdgriffin;password=flint-field1987;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>